@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

.beershow {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.beer-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beer-description img {
    margin-left: 1rem;
}

.beer-content h3 {
    font-size: 3rem;
    font-weight: bold;
}

.beer-content li {
    font-size: 1.8rem;
}

.beer-content .description {
    font-family: Raleway !important;
    font-size: 1.8rem;
    margin-right: 2.5rem;
}

.review-box {
    margin-bottom: 5rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
}

.reviews {
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

@media screen and (max-width: 1350px) {
    .review-box {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .beer-description {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 650px) {
    .beer-content h3 {
        font-size: 2.5rem;
    }
    .beer-description {
        margin-left: 0.8rem;
    }
}