.beer-body {
   position: relative;
   min-height: 100vh;
   text-align: center;
   background: rgb(244,231,203);
background: linear-gradient(90deg, rgba(244,231,203,1) 0%, rgba(235,220,188,1) 25%, rgba(232,223,205,1) 52%, rgba(236,219,178,1) 80%, rgba(242,230,204,1) 100%);
}

.beer-body h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #fff;
    text-shadow: -2px -2px 0 #876421, 2px -2px 0 #876421, -2px 2px 0 #876421, 2px 2px 0 #876421;
}
/* .beer-body::before {
    content: "";
    background-image: url(../assets/image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
} */

.beer-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.beer-cards {
    width: 17rem;
    border: 2px solid #a1b2a1 !important;
}

.custom-image {
    height: 13rem;
}

.beer-text {
    margin-bottom: 2rem;
}

.beer-button {
    background-color: #bd881f !important;
    font-weight: bold !important;
}

.beer-button:hover {
    filter: brightness(120%);
    transition: 0.3s;
}

.index-buttons {
    display: flex;
    justify-content: center;
    gap: 1.2em;
}
