
.beer-body {
   position: relative;
   min-height: 100vh;
   text-align: center;
   background-image: url('../assets/index-page.avif');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.beer-body h1 {
    padding-top: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: #fff;
    text-shadow: -2px -2px 0 #876421, 2px -2px 0 #876421, -2px 2px 0 #876421, 2px 2px 0 #876421;
}

.beer-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.beer-cards {
    width: 17rem;
    border: 2px solid #a1b2a1 !important;
    -moz-box-shadow: 0 0 10px #807e7a;
    -webkit-box-shadow: 0 0 10px #807e7a;
    box-shadow: 0 0 10px #807e7a;
}

.custom-image {
    height: 13rem;
}

.beer-text {
    margin-bottom: 2rem;
}

.beer-button {
    background-color: #bd881f !important;
    font-weight: bold !important;
}

.beer-button:hover {
    filter: brightness(120%);
    transition: 0.3s;
}

.index-buttons {
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1055px) {
    .beer-listings {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px),
       screen and (max-height: 1000px) {
        .beer-cards {
            margin-bottom: 4rem !important;

        }
}