.not-found {
    height: 100vh;
}

.notFound-img {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.notFound-img::before {
    content: "";
    background-image: url('../assets/not-found.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    background-color: #000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.notFound-img h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}