.review-protected {
    margin-top: 1.5rem;
    min-height: 100vh;
    background-color: #eaeaea;
    background-image: url('../assets/about-us.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.review-protected h1 {
    padding-top: 3rem;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: -2px -2px 0 #876421, 2px -2px 0 #876421, -2px 2px 0 #876421, 2px 2px 0 #876421;
}

.review-protected-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
}

.review-protected-margin {
    margin-top: -3rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 960px) {
    .review-protected-box {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .review-protected-box {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}