.signup-body {
    background-color: #fcb63f;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-header {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    color: #a87e2f;
    font-size: 3.5rem;
}

.signup-form {
    width: 50%;
    background-color: #a87e2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fcb63f;
    font-weight: bold;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.signup-form .signup-input {
    width: 50%;
    border-radius: 20px solid white;
}

.submit-form {
    width: 20%;
    border-radius: 8px;
    background-color: #fcb63f;
    color: #a87e2f;
    font-weight: bold;
}

.submit-form:hover {
    filter: brightness(120%);
    transition: 0.3s;
}

@media screen and (max-width: 530px) {
    .submit-form {
        width: 40% !important;
    }
}