
.navbar {
    border: 2px solid blue;
    font-size: 1.2rem;
    height: 100px;
    overflow: hidden;
    width: 100%;
}

.nav-menu {
     display: flex;   
}

.nav-link {
    /* color: #fff !important; */
    
}